<a href="https://colab.research.google.com/github/krauseannelize/nb-py-ms-exercises/blob/sprint04/notebooks/s04_pandas_data_wrangling/42_exercises_data_assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 42 | Exercises - Data Assessment

Data Assessment is the process of evaluating the quality, relevance, and utility of data in order to determine its suitability for a specific purpose or analysis.

## Dirty DataFrame

In [1]:
import pandas as pd
import numpy as np

# Create the DataFrame
dirty_df = pd.DataFrame({
    'Name': [
        'John Doe', 'John Doe', 'John Doe', 'John Doe', 'John Doe', 'John Doe', 'John Doe', 'John Doe', 'John Doe', 'John Doe',
        'Jane Smith', 'Jane Smith', 'Jane Smith', 'Jane Smith', 'Jane Smith', 'Jane Smith', 'Jane Smith', 'Jane Smith',
        'Jack Brown', 'Jack Brown', 'Jack Brown', 'Jack Brown', 'Jack Brown',
        'Sam Wilson', 'Sam Wilson', 'Sam Wilson', 'Sam Wilson',
        None, None, None
    ],
    'Age': [
        28.0, 32.0, 45.0, np.nan, 28.0, 32.0, np.nan, 30.0, 45.0, 50.0,
        32.0, 33.0, np.nan, 36.0, 36.0, 29.0, 28.0, np.nan,
        40.0, 41.0, 42.0, np.nan, 55.0,
        58.0, 60.0, 30.0, np.nan,
        45.0, 50.0, 50.0
    ],
    'Date Joined': [
        '01/15/2020', '02/20/2021', '03/10/2019', '01/01/2020', '05/25/2018', '06/15/2020', '07/01/2019', '01/15/2020', '07/01/2019', '06/15/2020',
        '04/25/2020', '04/25/2020', '03/10/2019', '03/15/2020', '02/25/2020', '01/01/2020', '06/15/2020', '07/01/2019',
        '08/25/2020', '09/10/2021', '10/02/2019', '11/11/2018', '12/12/2020',
        '01/15/2021', None, '06/15/2020', '01/15/2021',
        '07/01/2019', '06/15/2020', None
    ],
    'Salary': [
        '50000', '60000', '75000', '50000', 'Eighty Thousand', '52000', '75000', '60000', '75000', '52000',
        '75000', '80000', '80000', '52000', '50000', '60000', '75000', '100000',
        '85000', '90000', '95000', '62000', '120000',
        '110000', '88000', None, 'Sixty Thousand',
        '102000', None, '70000'
    ],
    'Remarks': [
        'Good employee', 'N/A', 'Excellent', 'Good employee', 'N/A', 'Needs improvement', '', 'N/A', 'None', 'Good employee',
        'Excellent', 'Excellent', 'Fair', 'New hire', '', 'Good employee', 'N/A', '',
        'Needs improvement', 'None', 'Promising', '', 'Good employee',
        'Needs improvement', 'None', 'Excellent', '', 'Fair', '', 'Promising'
    ]
})

dirty_df

          Name   Age Date Joined           Salary            Remarks
0     John Doe  28.0  01/15/2020            50000      Good employee
1     John Doe  32.0  02/20/2021            60000                N/A
2     John Doe  45.0  03/10/2019            75000          Excellent
3     John Doe   NaN  01/01/2020            50000      Good employee
4     John Doe  28.0  05/25/2018  Eighty Thousand                N/A
5     John Doe  32.0  06/15/2020            52000  Needs improvement
6     John Doe   NaN  07/01/2019            75000
7     John Doe  30.0  01/15/2020            60000                N/A
8     John Doe  45.0  07/01/2019            75000               None
9     John Doe  50.0  06/15/2020            52000      Good employee
10  Jane Smith  32.0  04/25/2020            75000          Excellent
11  Jane Smith  33.0  04/25/2020            80000          Excellent
12  Jane Smith   NaN  03/10/2019            80000               Fair
13  Jane Smith  36.0  03/15/2020            52000           New hire
14  Jane Smith  36.0  02/25/2020            50000
15  Jane Smith  29.0  01/01/2020            60000      Good employee
16  Jane Smith  28.0  06/15/2020            75000                N/A
17  Jane Smith   NaN  07/01/2019           100000
18  Jack Brown  40.0  08/25/2020            85000  Needs improvement
19  Jack Brown  41.0  09/10/2021            90000               None
20  Jack Brown  42.0  10/02/2019            95000          Promising
21  Jack Brown   NaN  11/11/2018            62000
22  Jack Brown  55.0  12/12/2020           120000      Good employee
23  Sam Wilson  58.0  01/15/2021           110000  Needs improvement
24  Sam Wilson  60.0        None            88000               None
25  Sam Wilson  30.0  06/15/2020             None          Excellent
26  Sam Wilson   NaN  01/15/2021   Sixty Thousand
27        None  45.0  07/01/2019           102000               Fair
28        None  50.0  06/15/2020             None
29        None  50.0        None            70000          Promising

## Python Methods for DataFrame Assessment

### Checking the First Rows

The `.head()` method enables you to view the first 5 rows of a DataFrame if no argument is passed. You can also specify the number of rows to return by passing an integer as an argument.

In [2]:
dirty_df.head(3)

       Name   Age Date Joined Salary        Remarks
0  John Doe  28.0  01/15/2020  50000  Good employee
1  John Doe  32.0  02/20/2021  60000            N/A
2  John Doe  45.0  03/10/2019  75000      Excellent

### Checking the Shape of the DataFrame

The `.shape` attribute gives you the dimensions of the DataFrame as a tuple, showing the number of rows and columns.

In [5]:
dirty_df.shape

(30, 5)

### Checking the Data Type of Each Column

The `.dtypes` attribute returned the data types of the DataFrame.

In [6]:
dirty_df.dtypes

Name            object
Age            float64
Date Joined     object
Salary          object
Remarks         object
dtype: object

### Identifying Missing Values

The `.isnull()` method flags missing entries as `True`. Chaining `.sum()` counts the number of missing values per column.

In [7]:
dirty_df.isnull().sum()

Name           3
Age            6
Date Joined    2
Salary         2
Remarks        0
dtype: int64

### Checking Duplicate Rows

The `.duplicated()` method flags duplicated rows as `True`. Chaining `.sum()` returns the total number of duplicated rows in the DataFrame.

In [9]:
dirty_df.duplicated().sum()

np.int64(0)

### Checking Unique Values

The `.unique()` method returns an array of unique values in a column. This can help identify inconsistencies, unexpected entries, or data formatting issues.

In [13]:
dirty_df['Remarks'].unique()

array(['Good employee', 'N/A', 'Excellent', 'Needs improvement', '',
       'None', 'Fair', 'New hire', 'Promising'], dtype=object)

## Exercise 1

It is time for some Data Assessment. Now you now, some of the code is already written; you only need to replace the '___' part.

1. Check the first rows of the DataFrame
2. Check the number of rows and columns in the DataFrame
3. Check the data types of each column
4. Check the number of missing values in the DataFrame
5. Check how many duplicated rows are in the DataFrame
6. Check inconsistencies in the unique values of City Column

```python
import pandas as pd
import numpy as np

# Create a sample DataFrame with intentional issues

data = {
    'ID': [1, 2, 3, 4, 2, 5, 6, np.nan, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David',
'Bob', 'Eve', 'Frank', None, 'Charlie', 'David'],
    'Age': [25, 30, 22, 28, 30, 40, 35, 28, 'unknown', 28],
    'City': ['New York', 'los angeles', 'chicago', 'Houston',
'Los Angeles', 'chiCaGo', 'Chicago', 'Miami', 'chicago', 'Houston']
}

df = pd.DataFrame(data)

# Check the first rows of the DataFrame
print(df.___)  # Replace the "___"

# Check the number of rows and columns in the DataFrame
print('\nShape of the DataFrame:')
print(df.___)  # Replace the "___"

# Check the data types of each column
print('\nData Types of Each Column:')
print(___.dtypes)  # Replace the "___"

# Check the number of missing values in the DataFrame
print('\nMissing Values in the DataFrame:')
print(df.isnull().___)  # Replace the "___"

# Check how many duplicated rows are in the DataFrame
print('\nChecking Duplicate Rows:')
print(df.___.sum())  # Replace the "___"

# Check inconsistencies in the unique values of  City Column
print('\nUnique Values of the City Column:')
print(df['___'].unique())  # Replace the "___"
```

In [14]:
import pandas as pd
import numpy as np

# Create a sample DataFrame with intentional issues

data = {
    'ID': [1, 2, 3, 4, 2, 5, 6, np.nan, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David',
'Bob', 'Eve', 'Frank', None, 'Charlie', 'David'],
    'Age': [25, 30, 22, 28, 30, 40, 35, 28, 'unknown', 28],
    'City': ['New York', 'los angeles', 'chicago', 'Houston',
'Los Angeles', 'chiCaGo', 'Chicago', 'Miami', 'chicago', 'Houston']
}

df = pd.DataFrame(data)

# Check the first rows of the DataFrame
print(df.head())

# Check the number of rows and columns in the DataFrame
print('\nShape of the DataFrame:')
print(df.shape)

# Check the data types of each column
print('\nData Types of Each Column:')
print(df.dtypes)

# Check the number of missing values in the DataFrame
print('\nMissing Values in the DataFrame:')
print(df.isnull().sum())

# Check how many duplicated rows are in the DataFrame
print('\nChecking Duplicate Rows:')
print(df.duplicated().sum())

# Check inconsistencies in the unique values of  City Column
print('\nUnique Values of the City Column:')
print(df['City'].unique())

    ID     Name Age         City
0  1.0    Alice  25     New York
1  2.0      Bob  30  los angeles
2  3.0  Charlie  22      chicago
3  4.0    David  28      Houston
4  2.0      Bob  30  Los Angeles

Shape of the DataFrame:
(10, 4)

Data Types of Each Column:
ID      float64
Name     object
Age      object
City     object
dtype: object

Missing Values in the DataFrame:
ID      1
Name    1
Age     0
City    0
dtype: int64

Checking Duplicate Rows:
1

Unique Values of the City Column:
['New York' 'los angeles' 'chicago' 'Houston' 'Los Angeles' 'chiCaGo'
 'Chicago' 'Miami']

## Exercise: Data Assessment on sklearn Datasets

You are provided with two datasets from scikit-learn: Iris and Diabetes. Perform the following data assessment techniques on each dataset:

1. Check the first few rows of each DataFrame to get an overview.
2. Check the shape of each DataFrame (i.e., the number of rows and columns).
3. Check the data types of each column in the DataFrame.
4. Check for missing values in the DataFrame.
5. Check for duplicated rows in each DataFrame.
6. Check the unique values in a chosen column (e.g., target column or any feature column).

**Assessement on Iris Dataset**

```python
import pandas as pd
from sklearn.datasets import load_iris

# Load the Iris dataset
iris = load_iris()
df_iris = pd.DataFrame(iris.data, columns=iris.feature_names)
df_iris['target'] = iris.target

# 1. Check the first few rows
print(df_iris.___())  # Replace "___"

# 2. Check the shape of the DataFrame
print('\nShape of the Iris dataset:')
print(df_iris.___)  # Replace "___"

# 3. Check the data types of each column
print('\nData types of each column in Iris:')
print(df_iris.___)  # Replace "___"

# 4. Check the number of missing values in the Iris dataset
print('\nMissing values in the Iris dataset:')
print(df_iris.___().___())  # Replace "___"

# 5. Check how many duplicated rows are in the Iris dataset
print('\nDuplicated rows in the Iris dataset:')
print(df_iris.___().___())  # Replace "___"

# 6. Check unique values in the target column
print('\nUnique values in the target column:')
print(df_iris['target'].___())  # Replace "___"
```

**Assessment on Diabetes Dataset**

```python
from sklearn.____ import load_diabetes

diabetes = load_diabetes()
df_diabetes = pd.DataFrame(____.data, columns=____.feature_names)
df_diabetes['target'] = diabetes.target

print(___.head())  # Replace "___"

print('\nShape of the Diabetes dataset:')
print(df_diabetes.___)  # Replace "___"

print('\nData types of each column in Diabetes:')
print(df_diabetes.____)  # Replace "___"

print('\nMissing values in the Diabetes dataset:')
print(____.isnull().____())  # Replace "___"

print('\nDuplicated rows in the Diabetes dataset:')
print(df_diabetes.____().sum())  # Replace "___"

print('\nUnique values in the target column:')
print(df_diabetes['____'].unique())  # Replace "___"
```

### Assessment on Iris Dataset

In [15]:
import pandas as pd
from sklearn.datasets import load_iris

# Load the Iris dataset
iris = load_iris()
df_iris = pd.DataFrame(iris.data, columns=iris.feature_names)
df_iris['target'] = iris.target

# 1. Check the first few rows
print(df_iris.head())

# 2. Check the shape of the DataFrame
print('\nShape of the Iris dataset:')
print(df_iris.shape)

# 3. Check the data types of each column
print('\nData types of each column in Iris:')
print(df_iris.dtypes)

# 4. Check the number of missing values in the Iris dataset
print('\nMissing values in the Iris dataset:')
print(df_iris.isnull().sum())

# 5. Check how many duplicated rows are in the Iris dataset
print('\nDuplicated rows in the Iris dataset:')
print(df_iris.duplicated().sum())

# 6. Check unique values in the target column
print('\nUnique values in the target column:')
print(df_iris['target'].unique())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target
0       0
1       0
2       0
3       0
4       0

Shape of the Iris dataset:
(150, 5)

Data types of each column in Iris:
sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
target                 int64
dtype: object

Missing values in the Iris dataset:
sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

Duplicated rows in the Iris dataset:
1

Unique values in the target column:
[0 1 2]

### Assessment on Diabetes Dataset

In [16]:
import pandas as pd
from sklearn.datasets import load_diabetes

diabetes = load_diabetes()
df_diabetes = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
df_diabetes['target'] = diabetes.target

# 1. Check the first few rows
print(df_diabetes.head())

# 2. Check the shape of the DataFrame
print('\nShape of the Diabetes dataset:')
print(df_diabetes.shape)

# 3. Check the data types of each column
print('\nData types of each column in Diabetes:')
print(df_diabetes.dtypes)

# 4. Check the number of missing values in the Diabetes dataset
print('\nMissing values in the Diabetes dataset:')
print(df_diabetes.isnull().sum())

# 5. Check how many duplicated rows are in the Diabetes dataset
print('\nDuplicated rows in the Diabetes dataset:')
print(df_diabetes.duplicated().sum())

# 6. Check unique values in the target column
print('\nUnique values in the target column:')
print(df_diabetes['target'].unique())

        age       sex       bmi        bp        s1        s2        s3  \
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
2  0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142

         s4        s5        s6  target
0 -0.002592  0.019907 -0.017646   151.0
1 -0.039493 -0.068332 -0.092204    75.0
2 -0.002592  0.002861 -0.025930   141.0
3  0.034309  0.022688 -0.009362   206.0
4 -0.002592 -0.031988 -0.046641   135.0

Shape of the Diabetes dataset:
(442, 11)

Data types of each column in Diabetes:
age       float64
sex       float64
bmi       float64
bp        float64
s1        float64
s2        float64
s3        float64
s4        float64
s5        float64
s6        float64
target    float64
dtype: object

Missing values in the Diabetes dataset:
age       0
sex       0
bmi       0
bp        0
s1        0
s2        0
s3        0
s4        0
s5        0
s6        0
target    0
dtype: int64

Duplicated rows in the Diabetes dataset:
0

Unique values in the target column:
[151.  75. 141. 206. 135.  97. 138.  63. 110. 310. 101.  69. 179. 185.
 118. 171. 166. 144. 168.  68.  49. 245. 184. 202. 137.  85. 131. 283.
 129.  59. 341.  87.  65. 102. 265. 276. 252.  90. 100.  55.  61.  92.
 259.  53. 190. 142. 155. 225. 104. 182. 128.  52.  37. 170.  71. 163.
 150. 160. 178.  48. 270. 111.  42. 200. 113. 143.  51. 210. 134.  98.
 164.  96. 162. 279.  83. 302. 198.  95. 232.  81. 246. 297. 258. 229.
 275. 281. 173. 180.  84. 121. 161.  99. 109. 115. 268. 274. 158. 107.
 103. 272. 280. 336. 317. 235.  60. 174. 126. 288.  88. 292. 197. 186.
  25. 195. 217. 172. 214.  70. 220. 152.  47.  74. 295. 127. 237.  64.
  79.  91. 116.  86. 122.  72.  39. 196. 222. 277.  77. 191.  73. 263.
 248. 296.  78.  93. 208. 108. 154. 124.  67. 257. 262. 177. 187. 125.
 215. 303. 243. 153. 346.  89.  50. 308. 145.  45. 264. 241.  66.  94.
 230. 181. 156. 233. 219.  80. 332.  31. 236. 253.  44. 114. 147. 242.
 249. 192. 244. 199. 306. 216. 139. 148.  54. 221. 311. 321.  58. 123.
 167. 140.  40. 132. 201. 273.  43. 175. 293. 189. 209. 136. 261. 146.
 212. 120. 183.  57.]